.card {
    margin: 3rem 3rem 3rem 3rem;
    padding: 1rem;
    width: 300px;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
    transition: transform .3s ease;
    cursor: pointer; 
    background-color: #fff;
}

.card:hover {
    transform: scale(1.1);
}

.card_title {
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgba(100, 115, 255, 1) 100%
    );
    color: #fff;
}

.card_image {
    display: flex;
    justify-content: center;
}

.card_image img {
    border-radius: 50%;
}

.card_email {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 0.5rem;
    padding: 1rem;
    color:rgba(48, 16, 255, 1);
    
}

.card_id {
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    color: darkblue;
}